.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 80px;
}

.container.container-favorite {
    top: 156px
}