.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    background-color: $color-bg;
    z-index: 100;
    @include boxShadow4;
}

.navbar__title {
    color: $color-primary;
    font-family: $police-titre;
    font-size: 1.8em;
    @media screen and (max-width: 900px) {
        font-size: 1.5em;
    }
}
