.card-meal__idee-jour {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    padding: 4px 16px;
    background-color: $color-primary;
    border-radius: 999px;
    font-family: $police-titre;
    color: $color-bg;
}

.card-meal__text {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-bg;
    height: 40px;
    width: 100%;
    p {
        color: $color-primary;
    }
}
