.card-meal {
    position: relative;
    margin: 8px;
    height: 350px;
    width: 300px;
    border-radius: 16px;
    @include boxShadow2;
    overflow: hidden;
    background-position: center;

    img {
        position: absolute;
        @include abs-center;
        height: 350px;
        z-index: -1;
    }
}

.card-meal__titre {
    position: absolute;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    margin: 0 auto;
    padding: 4px 8px;
    border-radius: 999px;
    background-color: $color-primary;
    font-family: $police-titre;
    font-size: 20px;
    color: $color-bg;
    text-align: center;
    z-index: 1;

    @media screen and (max-width: 900px) {
        font-size: 1.2em;
    }
}

.logo-like {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    svg {
        width: 32px;
        height: 32px;
        fill: $color-secondary;
    }
}
