.container.container-favorite {
    top: 156px
}

.searchbar {
    margin: 24px 0 0;

    input {
        height: 32px;
        width: 200px;
        padding: 0 8px;
        background-color: $color-bg;
        border: 1px solid $color-primary;
        color: $color-primary;
        text-align: center;
        border-radius: 999px;
        &:focus-visible {
            border: none;
        }
    }
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.msg-error {
    margin: $m4;
    color: $color-primary;
    font-size: 2em;
    text-align: center;
}