.container.container-favorite {
    top: 156px
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.msg-error {
    margin: $m4;
    color: $color-primary;
    font-size: 2em;
    text-align: center;
}