.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    min-width: 300px;
    margin: 0 8px;
    background-color: $color-bg;
    z-index: 10;
}

.container-menu {
    position: relative;
    top: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-titre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-h1 {
    text-align: center;
    padding: 8px;
    color: $color-primary;
    font-family: $police-titre;
}

.logo-like-titre {
    cursor: pointer;
    padding-top: 4px;
    svg {
        height: 32px;
        width: 32px;
        fill: $color-primary;
    }
}

.p-menu {
    text-align: center;
    font-family: $police-titre;
    color: $color-primary;
}

.box-img-ingredient {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 16px;
    img {
        width: 280px;
        // height: auto;
        @include boxShadow2;
        @media screen and (max-width: 900px) {
            width: 240px;
        }
    }
    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}

.ingredients-list {
    margin: 16px;
}

.link-video {
    margin: 16px;
    svg {
        height: 56px;
        width: 56px;
        fill: red;
    }
}
