/*
***  Couleurs ***
*/
$color-bg: #f3f6f9;
$color-grey: #696969;

$color-primary: #f6f6f6;
$color-secondary: #dfe4ea;

$color-contraste: #0078aa;
$color-secondaire: #3ab4f2;

$color-texte: #252627;
$color-action: #f2df3a;

$color-success: #4caf50;
$color-info: #00a2ff;
$color-danger: #ff5722;
$color-warning: #ffc107;
$color-dark: #0e1b20;
$color-light: #aaa;
$color-border: #dddfe1;

$color-white: #fff;
$color-black: #000;

/*
***  Break points ***
*/
$break-xl: 1200px;
$break-md: 900px;
$break-sm: 600px;

/*
***  Police ***
*/
$police-titre: "Nunito", sans-serif;
$police-text: "Space Mono", monospace, serif;

/*
***  Margin ***
*/
$m0: "0";
$m1: "4px";
$m2: "8px";
$m3: "12px";
$m4: "16px";
$m5: "20px";
$m6: "24px";
$m7: "28px";
$m8: "32px";